<section *ngIf="!(gameInProgress$ | async)">

  <button class="start-button"
    (click)="startGame()">
    start
  </button>

  <div class="rules-container">
    <h3 class="rules-title">rules</h3>
    <p class="rules-item">answer the math problem by typing the answer with the touchpad</p>
    <p class="rules-item">you have 30 seconds to answer as many problems as you can</p>
    <p class="rules-item">press the start button to begin!</p>
  </div>

</section>

<div *ngIf="gameInProgress$ | async">

  <div class="top-section-container">

    <div class="current-problem-container">
      <span class="current-problem-section">{{ currentProblem?.firstNumber }}</span>
      <span class="current-problem-section"> + </span>
      <span class="current-problem-section">{{ currentProblem?.secondNumber }}</span>
      <span class="current-problem-section"> = </span>
      <span class="current-problem-section">{{ num }}</span>
    </div>

    <div class="timer-container" *ngIf="(timer$ | async) as countdown">
      <span class="timer-label">timer:</span>
      <span class="timer-countdown"
        [class.warning]="countdown <= 15"
        [class.error]="countdown <= 5">
        {{ countdown }}
      </span>
    </div>

  </div>


  <div class="keypad-container">

    <button *ngFor="let number of numPad"
      (click)="type(number.value)"
      class="keypad-key">
      {{ number.value }}
    </button>

    <button (click)="backspace()"
      class="keypad-key">
      <!-- backspace -->
      <fa-icon [icon]="icons.backspace"></fa-icon>
    </button>

    <button (click)="clear()"
      class="keypad-key">
      <!-- clear -->
      <fa-icon [icon]="icons.clear"></fa-icon>
    </button>

    <button (click)="nextProblem()"
      class="keypad-key">
      <!-- enter -->
      <fa-icon [icon]="icons.enter"></fa-icon>
    </button>

  </div>

  <div class="problem-counter-container" *ngIf="(problemCounter$ | async ) as problemCounter">
    <div class="problem-counter-item correct">
      <div class="problem-counter-item-section">correct</div>
      <div class="problem-counter-item-section">{{ problemCounter?.correct }}</div>
    </div>
    <div class="problem-counter-item incorrect">
      <div class="problem-counter-item-section">incorrect</div>
      <div class="problem-counter-item-section">{{ problemCounter?.incorrect }}</div>
    </div>
  </div>

</div>

<!-- <div *ngIf="previousProblems?.length"
  class="previous-problem-container">
  <div *ngFor="let problem of previousProblems"
    class="previous-problem-item"
    [class.correct]="problem?.isCorrectAnswer"
    [class.incorrect]="!problem?.isCorrectAnswer">
    <span class="previous-problem-section">{{ problem?.firstNumber }}</span>
    <span class="previous-problem-section"> + </span>
    <span class="previous-problem-section">{{ problem?.secondNumber }}</span>
    <span class="previous-problem-section"> = </span>
    <span class="previous-problem-section" *ngIf="!problem?.isCorrectAnswer"><s>{{ problem?.givenAnswer }}</s></span>
    <span class="previous-problem-section"> {{ problem?.answer }}</span>
  </div>
</div> -->

<button mat-button (click)="openDialog()" [style.margin-top.px]="20">Open dialog</button>

<!-- <div *ngIf="previousProblems?.length"
  class="previous-problem-container">
  <div *ngFor="let problem of previousProblems"
    class="previous-problem-square"
    [class.correct]="problem?.isCorrectAnswer"
    [class.incorrect]="!problem?.isCorrectAnswer">
  </div>
</div> -->
