:host {
  display: block;
}

.top-section-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.start-button {
  padding: 5px 60px;
  background: #222;
  border: 3px solid #ddd;
  border-radius: 5px;
  color: #ddd;
  font-variant: small-caps;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 40px;
  display: block;
  margin: 20px auto;
}

.timer {

  &-container {
    font-variant: small-caps;
    font-size: 24px;
  }

  &-label {

  }

  &-countdown {
    display: inline-block;
    text-align: right;
    width: 30px;

    &.warning {
      color: orange;
    }

    &.error {
      color: red;
    }
  }
}

.rules {

  &-container {
    font-variant: small-caps;
  }

  &-title {
    margin: 0 auto 20px;
    border-bottom: 3px solid;
    padding-bottom: 2px;
    width: 30%;
    text-align: center;
  }

  &-item {
    margin-bottom: 5px;
  }
}

.current-problem {

  &-container {
    font-size: 24px;
    display: flex;
    align-items: center;
    // margin-top: 20px;
    // margin-bottom: 20px;
  }

  &-section {

    &:first-child {
      margin-right: 5px;
    }

    &:last-child {
      margin-left: 5px;
    }

    &:not(:first-child, :last-child) {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.keypad {

  &-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &-key {
    padding: 5px 10px;
    font-variant: small-caps;
    border: 2px solid #ddd;
    color: #ddd;
    background-color: #222;
    cursor: pointer;
    border-radius: 5px;
  }
}

.previous-problem {

  &-container {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-item {
    width: calc(50% - 3px);
    padding: 5px 10px;
    margin-bottom: 6px;

    &.correct {
      background: #006540;
    }

    &.incorrect {
      background: #b10000;
    }

  }

  &-square {
    width: 30px;
    height: 30px;

    &.correct {
      background: #006540;
    }

    &.incorrect {
      background: #b10000;
    }
  }
}

.problem-counter {

  &-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-variant: small-caps;
  }

  &-item {
    width: 49%;
    border: 3px solid currentColor;
    // color: currentColor;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
  }

}

.correct {
  color: #006540;
}

.incorrect {
  color: #b10000;
}